{% set page_title = "Home (Tab 1)" -%}
{% set section = "home" -%}

{% include "partials/header.njk" %}

			<div class="div_info" id="app_info">
				<h1><a href="https://tabernawp.com/best-wordpress-tools" target="_blank" rel="noopener">{% raw %}{{app_name}}{% endraw %}</a></h1>
				<p>{% raw %}{{plugin_info}}{% endraw %} <a href="mailto:carlos+best-wp-tools@longarela.eu">carlos+best-wp-tools@longarela.eu</a></p>
				<p class="cl_text_small">{% raw %}{{plugin_info2}}{% endraw %}</p>
			</div>

			<input id="no_cache_page" type="button" class="btn btn_green full_width" value="{% raw %}{{btn_no_cache_page}}{% endraw %}">

			<div id="url_info"></div>
			<div id="api_url_info"></div>

{% include "partials/footer.njk" -%}
