{% set page_title = "WordPress Code (Tab 5)" -%}
{% set section = "wp-code" -%}

{% include "partials/header.njk" %}

			<h1>{% raw %}{{msg_code_utils}}{% endraw %}</h1>

			<h2 class="title-flex">{% raw %}{{msg_wp_utils}}{% endraw %}</h2>
			<div>
				<a class="btn btn_50 btn_border_more" href="https://wp-config.pro/" target="_blank" rel="noopener" title="{% raw %}{{msg_config_generator}}{% endraw %}">{% raw %}{{msg_config_generator}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://generatewp.com/generator/" target="_blank" rel="noopener" title="{% raw %}{{msg_code_generator}}{% endraw %}">{% raw %}{{msg_code_generator}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="http://wpgear.org/" target="_blank" rel="noopener" title="{% raw %}{{msg_wp_gear}}{% endraw %}">{% raw %}{{msg_wp_gear}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://wpadmin.bracketspace.com/" target="_blank" rel="noopener" title="{% raw %}{{msg_admin_ref}}{% endraw %}">{% raw %}{{msg_admin_ref}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://wpadmincolors.com/" target="_blank" rel="noopener" title="{% raw %}{{msg_admin_color}}{% endraw %}">{% raw %}{{msg_admin_color}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://wppb.me/" target="_blank" rel="noopener" title="{% raw %}{{msg_plugin_boilerplate}}{% endraw %}">{% raw %}{{msg_plugin_boilerplate}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://codex.wordpress.org/" target="_blank" rel="noopener" title="WordPress Codex">WordPress Codex</a>
				<a class="btn btn_50 btn_border_more" href="https://make.wordpress.org/core/handbook/best-practices/coding-standards/" target="_blank" rel="noopener" title="{% raw %}{{msg_coding_standards}}{% endraw %}">{% raw %}{{msg_coding_standards}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://github.com/WordPress/WordPress-Coding-Standards" target="_blank" rel="noopener" title="{% raw %}{{msg_php_rules}}{% endraw %}">{% raw %}{{msg_php_rules}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://codeable.io/?ref=oJcWP" target="_blank" rel="noopener" title="{% raw %}{{msg_hire_codeable}}{% endraw %}">{% raw %}{{msg_hire_codeable}}{% endraw %}</a>
			</div>

			<h2 class="title-flex">{% raw %}{{msg_other_utils}}{% endraw %}</h2>
			<div>
				<a class="btn btn_50 btn_border_more" href="https://codepen.io/" target="_blank" rel="noopener" title="{% raw %}{{msg_codepen}}{% endraw %}">{% raw %}{{msg_codepen}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://regex101.com/" target="_blank" rel="noopener" title="{% raw %}{{msg_regular_exp}}{% endraw %}">{% raw %}{{msg_regular_exp}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://www.draw.io/" target="_blank" rel="noopener" title="{% raw %}{{msg_charts_gen}}{% endraw %}">{% raw %}{{msg_charts_gen}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://getlorem.com/" target="_blank" rel="noopener" title="{% raw %}{{msg_loren_gen}}{% endraw %}">{% raw %}{{msg_loren_gen}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://pastebin.com/" target="_blank" rel="noopener" title="{% raw %}{{msg_pastebin}}{% endraw %}">{% raw %}{{msg_pastebin}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://developer.mozilla.org/en-US/docs/Web/HTML" target="_blank" rel="noopener" title="{% raw %}{{msg_html_ref}}{% endraw %}">{% raw %}{{msg_html_ref}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://developer.mozilla.org/en-US/docs/Web/CSS" target="_blank" rel="noopener" title="{% raw %}{{msg_css_ref}}{% endraw %}">{% raw %}{{msg_css_ref}}{% endraw %}</a>
				<a class="btn btn_50 btn_border_more" href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target="_blank" rel="noopener" title="{% raw %}{{msg_js_ref}}{% endraw %}">{% raw %}{{msg_js_ref}}{% endraw %}</a>
			</div>

{% include "partials/footer.njk" -%}
