{% set page_title = "Plugins (Tab 6)" -%}
{% set section = "wp-plugins" -%}

{% include "partials/header.njk" %}

			<h1>{% raw %}{{msg_wp_plugins}}{% endraw %}</h1>

			<div class="div_info_theme_plugin">
				<p>{% raw %}{{msg_next_plugins}}{% endraw %}</p>
			</div>

			<div class="item_with_img">
				<a class="without_border" href="https://codeable.io/?ref=oJcWP" target="_blank" rel="noopener noreferrer">
					<img src="../img/codeable-550x68.png" width="550" height="68" alt="Codeable">
				</a>
				<p>{% raw %}{{msg_codeable_plugins}}{% endraw %}</p>
			</div>

			<div class="item_with_img">
				<a class="without_border" href="https://elementor.com/?ref=7684" target="_blank" rel="noopener noreferrer">
					<img src="../img/elementor-550x70.jpg" width="550" height="70" alt="Elementor">
				</a>
				<p>{% raw %}{{msg_elementor_plugins}}{% endraw %}</p>
			</div>

			<div class="item_with_img">
				<a class="without_border" href="https://www.elegantthemes.com/affiliates/idevaffiliate.php?id=57561_7_1_26" target="_blank" rel="noopener noreferrer">
					<img src="../img/bloom-550x68.png" width="550" height="68" alt="Bloom">
				</a>
				<p>{% raw %}{{msg_bloom_plugins}}{% endraw %}</p>
			</div>

{% include "partials/footer.njk" -%}
