{% set page_title = "Themes (Tab 7)" -%}
{% set section = "wp-themes" -%}

{% include "partials/header.njk" %}

			<h1>{% raw %}{{msg_wp_themes}}{% endraw %}</h1>

			<div class="div_info_theme_plugin">
				<p>{% raw %}{{msg_next_themes}}{% endraw %}</p>
			</div>

			<div class="item_with_img">
				<a class="without_border" href="https://codeable.io/?ref=lxuWl" target="_blank" rel="noopener noreferrer">
					<img src="../img/codeable2-550x68.png" width="550" height="68" alt="Codeable">
				</a>
				<p>{% raw %}{{msg_codeable_themes}}{% endraw %}</p>
			</div>

			<div class="item_with_img">
				<a class="without_border" href="https://www.elegantthemes.com/affiliates/idevaffiliate.php?id=57561_5_1_20" target="_blank" rel="noopener noreferrer">
					<img src="../img/divi-550x68.png" width="550" height="68" alt="Divi">
				</a>
				<p>{% raw %}{{msg_divi_themes}}{% endraw %}</p>
			</div>

{% include "partials/footer.njk" -%}
