{% set page_title = "WP Tools (Tab 4)" -%}
{% set section = "wp-tools" -%}

{% include "partials/header.njk" %}

			<h1 class="separate-bottom">{% raw %}{{msg_wp_tools_title}}{% endraw %}</h1>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_block_edit}}{% endraw %}</legend>
				<a id="wp_patterns" class="btn btn_50 btn_border_more" target="_blank" rel="noopener" title="{% raw %}{{msg_block_edit_go}}{% endraw %}">{% raw %}{{msg_block_edit_go}}{% endraw %}</a>
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_wp_options}}{% endraw %}</legend>
				<p class="warning-text">{% raw %}{{msg_wp_options_desc}}{% endraw %}</p>
				<a id="wp_options" class="btn btn_50 btn_border_more" target="_blank" rel="noopener" title="{% raw %}{{msg_wp_options_go}}{% endraw %}">{% raw %}{{msg_wp_options_go}}{% endraw %}</a>
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_security_keys}}{% endraw %}</legend> {# https://jsfiddle.net/ #}
				<p>{% raw %}{{msg_generate_salt}}{% endraw %}</p>
				<p class="center"><a class="btn btn_bold_border btn_50" href="https://api.wordpress.org/secret-key/1.1/salt/" target="_blank" rel="noopener"{% raw %}>{{msg_generate}}{% endraw %}</a></p>
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>WP_SITEURL</legend>
				<input type="text" class="code" readonly id="wp_site_url" value="define( 'WP_SITEURL', 'http://tu-sitio.com' );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>WP_HOME</legend>
				<input type="text" class="code" readonly id="wp_home" value="define( 'WP_HOME', 'http://tu-sitio.com' );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_cookie_domain}}{% endraw %}</legend>
				<input type="text" class="code" readonly id="wp_cookie_domain" value="define( 'COOKIE_DOMAIN', 'tu-sitio.com' );">
			</fieldset>

			<fieldset class="wp_fieldset visible">
				<legend>{% raw %}{{msg_post_autosave}}{% endraw %}</legend>

				<select name="post_autosave" id="post_autosave">
					<option value="30">{% raw %}{{msg_post_30_sec}}{% endraw %}</option>
					<option value="60">{% raw %}{{msg_post_60_sec}}{% endraw %}</option>
					<option value="90">{% raw %}{{msg_post_90_sec}}{% endraw %}</option>
					<option value="120" selected>{% raw %}{{msg_post_2_min}}{% endraw %}</option>
					<option value="180">{% raw %}{{msg_post_3_min}}{% endraw %}</option>
					<option value="240">{% raw %}{{msg_post_4_min}}{% endraw %}</option>
					<option value="300">{% raw %}{{msg_post_5_min}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="post_autosave_text" value="define( 'AUTOSAVE_INTERVAL', 120 );">
			</fieldset>

			<fieldset class="wp_fieldset visible">
				<legend>{% raw %}{{msg_post_revisions}}{% endraw %}</legend>

				<select name="post_revisions" id="post_revisions">
					<option value="true">{% raw %}{{msg_revisions_true}}{% endraw %}</option>
					<option value="false">{% raw %}{{msg_revisions_false}}{% endraw %}</option>
					<option value="1">{% raw %}{{msg_revisions_1}}{% endraw %}</option>
					<option value="3">{% raw %}{{msg_revisions_3}}{% endraw %}</option>
					<option value="5" selected>{% raw %}{{msg_revisions_5}}{% endraw %}</option>
					<option value="10">{% raw %}{{msg_revisions_10}}{% endraw %}</option>
					<option value="15">{% raw %}{{msg_revisions_15}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="post_revisions_text" value="define( 'WP_POST_REVISIONS', 5 );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_disable_file_editor}}{% endraw %}</legend>

				<select name="disable_file_editor" id="disable_file_editor">
					<option value="false">{% raw %}{{msg_no}}{% endraw %}</option>
					<option value="true" selected>{% raw %}{{msg_yes}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="wp_disable_file_editor" value="define( 'DISALLOW_FILE_EDIT', true );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_ssl_login}}{% endraw %}</legend>

				<select name="ssl_login" id="ssl_login">
					<option value="false">{% raw %}{{msg_no}}{% endraw %}</option>
					<option value="true" selected>{% raw %}{{msg_yes}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="wp_ssl_login" value="define( 'FORCE_SSL_LOGIN', true );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_ssl_admin}}{% endraw %}</legend>

				<select name="ssl_admin" id="ssl_admin">
					<option value="false">{% raw %}{{msg_no}}{% endraw %}</option>
					<option value="true" selected>{% raw %}{{msg_yes}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="wp_ssl_admin" value="define( 'FORCE_SSL_ADMIN', true );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{concatenate}}{% endraw %}</legend>

				<select name="concatenate" id="concatenate">
					<option value="false" selected>{% raw %}{{msg_no}}{% endraw %}</option>
					<option value="true">{% raw %}{{msg_yes}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="wp_concatenate" value="define( 'CONCATENATE_SCRIPTS', false );">
			</fieldset>

			<fieldset class="wp_fieldset visible">
				<legend>{% raw %}{{msg_front_memory}}{% endraw %}</legend>

				<select name="php_front_memory" id="php_front_memory">
					<option value="40M">40 MB</option>
					<option value="64M">64 MB</option>
					<option value="128M">128 MB</option>
					<option value="256M" selected>256 MB</option>
					<option value="512M">512 MB</option>
					<option value="768M">768 MB</option>
					<option value="1024M">1024 MB</option>
				</select>

				<input type="text" class="code" readonly id="php_front_memory_text" value="define( 'WP_MEMORY_LIMIT', '256M' );">
			</fieldset>


			<fieldset class="wp_fieldset visible">
				<legend>{% raw %}{{msg_back_memory}}{% endraw %}</legend>

				<select name="php_back_memory" id="php_back_memory">
					<option value="64M">64 MB</option>
					<option value="128M">128 MB</option>
					<option value="256M" selected>256 MB</option>
					<option value="512M">512 MB</option>
					<option value="768M">768 MB</option>
					<option value="1024M">1024 MB</option>
				</select>

				<input type="text" class="code" readonly id="php_back_memory_text" value="define( 'WP_MAX_MEMORY_LIMIT', '256M' );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_auto_updater}}{% endraw %}</legend>

				<select name="auto_updater" id="auto_updater">
					<option value="false" selected>{% raw %}{{msg_yes}}{% endraw %}</option>
					<option value="true" >{% raw %}{{msg_no}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="wp_auto_updater" value="define( 'AUTOMATIC_UPDATER_DISABLED', false );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_core_updater}}{% endraw %}</legend>

				<select name="core_updater" id="core_updater">
					<option value="false">{% raw %}{{msg_no}}{% endraw %}</option>
					<option value="'minor'" selected>{% raw %}{{msg_minor_versions}}{% endraw %}</option>
					<option value="true">{% raw %}{{msg_major_versions}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="wp_core_updater" value="define( 'WP_AUTO_UPDATE_CORE', 'minor' );">
			</fieldset>

			<fieldset class="wpo_fieldset visible">
				<legend>{% raw %}{{msg_disable_cron}}{% endraw %}</legend>

				<select name="disable_cron" id="disable_cron">
					<option value="false" selected>{% raw %}{{msg_no}}{% endraw %}</option>
					<option value="true" >{% raw %}{{msg_yes}}{% endraw %}</option>
				</select>

				<input type="text" class="code" readonly id="wp_disable_cron" value="define( 'DISABLE_WP_CRON', false );">
			</fieldset>

{% include "partials/footer.njk" -%}
