<!DOCTYPE html>
<html>
<head>
	<title>{{ page_title }}</title>
	<meta charset="UTF-8"/>
	<script src="../js/general.min.js"></script>
	<link rel="stylesheet" href="../css/styles.min.css" type="text/css"></link>
</head>
<body id="best-wp-tools">

	<div id="main">{# Main div start #}
		{% include "partials/primary_menu.njk" %}

		<div id="data">{# Data div start #}
			<div id="notice"></div>