<nav id="primary_menu">
	<div id="menu_home" class="item">
		{% if section === "home" -%}
			<img src="../img/home-48.png">
		{% else -%}
			<a href="home.html"><img src="../img/home-48.png"></a>
		{% endif -%}
	</div>

	<div id="menu_wpo" class="item">
		{% if section === "wpo" -%}
			<img src="../img/wpo-48.png">
		{% else -%}
			<a href="wpo.html"><img src="../img/wpo-48.png"></a>
		{% endif -%}
	</div>

	<div id="menu_web-server" class="item">
		{% if section === "web-server" -%}
			<img src="../img/web-server-48.png">
		{% else -%}
			<a href="web-server.html"><img src="../img/web-server-48.png"></a>
		{% endif -%}
	</div>

	<div id="menu_wp-tools" class="item">
		{% if section === "wp-tools" -%}
			<img src="../img/wp-tools-48.png">
		{% else -%}
			<a href="wp-tools.html"><img src="../img/wp-tools-48.png"></a>
		{% endif -%}
	</div>

	<div id="menu_wp-code" class="item">
		{% if section === "wp-code" -%}
			<img src="../img/wp-code-48.png">
		{% else -%}
			<a href="wp-code.html"><img src="../img/wp-code-48.png"></a>
		{% endif -%}
	</div>

	<div id="menu_hosting" class="item">
		{% if section === "hosting" -%}
			<img src="../img/hosting-48.png">
		{% else -%}
			<a href="hosting.html"><img src="../img/hosting-48.png"></a>
		{% endif -%}
	</div>
</nav>